nav li {
  height: 30px;
  margin: 10px;
  border: 2px solid #000000;
  padding-top: 10px;
  text-align: center;
  border-radius: 20px;
}

.active {
  background-color: #FFB800;
  border: 4px solid #C2EABD;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

img {
  background-color: #000000;
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border: 2px solid #000000;
  border-radius: 10px;
}

img:nth-of-type(2n) {
  background-color: #FFFFFF;
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 20px;
}

img:hover {
  width: 185px;
  padding: 15px;
  background-color: #FFB800;
  border: 4px dotted #C2EABD;
  margin: 10px auto;
}
